USE [master]
GO
/****** Object:  Database [InsuranceMngmntDB]    Script Date: 09-03-2026 15:40:04 ******/
CREATE DATABASE [InsuranceMngmntDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InsuranceMngmntDB', FILENAME = N'C:\Users\HP\InsuranceMngmntDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InsuranceMngmntDB_log', FILENAME = N'C:\Users\HP\InsuranceMngmntDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InsuranceMngmntDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InsuranceMngmntDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 09-03-2026 15:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Claims]    Script Date: 09-03-2026 15:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Claims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PolicyAssignmentId] [int] NOT NULL,
	[PolicyMemberId] [int] NOT NULL,
	[ClaimsOfficerId] [int] NULL,
	[ClaimAmount] [decimal](18, 2) NOT NULL,
	[FiledDate] [datetime2](7) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[Remarks] [nvarchar](max) NULL,
	[ProcessedDate] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ClaimType] [nvarchar](max) NOT NULL,
	[DeathCertificateNumber] [nvarchar](max) NULL,
	[NomineeContact] [nvarchar](max) NOT NULL,
	[NomineeName] [nvarchar](max) NOT NULL,
	[SettlementAmount] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Claims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documents]    Script Date: 09-03-2026 15:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](max) NOT NULL,
	[FilePath] [nvarchar](max) NOT NULL,
	[DocumentCategory] [nvarchar](max) NOT NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
	[UploadedByUserId] [int] NOT NULL,
	[PolicyAssignmentId] [int] NULL,
	[ClaimId] [int] NULL,
 CONSTRAINT [PK_Documents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 09-03-2026 15:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[PolicyAssignmentId] [int] NULL,
	[ClaimId] [int] NULL,
	[PaymentId] [int] NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 09-03-2026 15:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PolicyAssignmentId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PaymentDate] [datetime2](7) NOT NULL,
	[PaymentMethod] [nvarchar](max) NOT NULL,
	[TransactionReference] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[InvoiceNumber] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[InstallmentsPaid] [int] NOT NULL,
	[PolicyLoanId] [int] NULL,
	[PrincipalPaid] [decimal](18, 2) NULL,
	[InterestPaid] [decimal](18, 2) NULL,
	[BalanceAfter] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plans]    Script Date: 09-03-2026 15:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plans](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlanName] [nvarchar](max) NOT NULL,
	[PlanType] [int] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[BaseRate] [decimal](18, 2) NOT NULL,
	[MinAge] [int] NOT NULL,
	[MaxAge] [int] NOT NULL,
	[MinCoverageAmount] [decimal](18, 2) NOT NULL,
	[MaxCoverageAmount] [decimal](18, 2) NOT NULL,
	[MinTermYears] [int] NOT NULL,
	[MaxTermYears] [int] NOT NULL,
	[GracePeriodDays] [int] NOT NULL,
	[HasMaturityBenefit] [bit] NOT NULL,
	[IsReturnOfPremium] [bit] NOT NULL,
	[MaxPolicyMembersAllowed] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CommissionRate] [decimal](5, 2) NOT NULL,
	[MaxNominees] [int] NOT NULL,
	[MinNominees] [int] NOT NULL,
	[CoverageIncreaseRate] [decimal](5, 2) NOT NULL,
	[CoverageIncreasing] [bit] NOT NULL,
	[CoverageUntilAge] [int] NOT NULL,
	[HasBonus] [bit] NOT NULL,
	[HasDeathBenefit] [bit] NOT NULL,
	[HasLoanFacility] [bit] NOT NULL,
	[LoanEligibleAfterYears] [int] NOT NULL,
	[LoanInterestRate] [decimal](5, 2) NOT NULL,
	[MaxLoanPercentage] [decimal](5, 2) NOT NULL,
	[BonusRate] [decimal](18, 2) NOT NULL,
	[TerminalBonusRate] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Plans] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PolicyAssignments]    Script Date: 09-03-2026 15:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PolicyAssignments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PolicyNumber] [nvarchar](450) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[AgentId] [int] NULL,
	[PlanId] [int] NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[TotalPremiumAmount] [decimal](18, 2) NOT NULL,
	[PremiumFrequency] [nvarchar](max) NOT NULL,
	[NextDueDate] [datetime2](7) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[AssignedDate] [datetime2](7) NULL,
	[TermYears] [int] NOT NULL,
	[CommissionStatus] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_PolicyAssignments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PolicyLoans]    Script Date: 09-03-2026 15:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PolicyLoans](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PolicyAssignmentId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[LoanAmount] [decimal](18, 2) NOT NULL,
	[InterestRate] [decimal](5, 2) NOT NULL,
	[OutstandingBalance] [decimal](18, 2) NOT NULL,
	[TotalInterestPaid] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[LoanDate] [datetime2](7) NOT NULL,
	[ClosedDate] [datetime2](7) NULL,
	[Remarks] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PolicyLoans] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PolicyMembers]    Script Date: 09-03-2026 15:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PolicyMembers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PolicyAssignmentId] [int] NOT NULL,
	[MemberName] [nvarchar](max) NOT NULL,
	[RelationshipToCustomer] [nvarchar](max) NOT NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
	[Gender] [nvarchar](max) NOT NULL,
	[CoverageAmount] [decimal](18, 2) NOT NULL,
	[IsSmoker] [bit] NOT NULL,
	[HasPreExistingDiseases] [bit] NOT NULL,
	[DiseaseDescription] [nvarchar](max) NULL,
	[Occupation] [nvarchar](max) NOT NULL,
	[IsPrimaryInsured] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PolicyMembers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PolicyNominees]    Script Date: 09-03-2026 15:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PolicyNominees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PolicyAssignmentId] [int] NOT NULL,
	[NomineeName] [nvarchar](max) NOT NULL,
	[RelationshipToPolicyHolder] [nvarchar](max) NOT NULL,
	[ContactNumber] [nvarchar](max) NOT NULL,
	[SharePercentage] [decimal](5, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PolicyNominees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 09-03-2026 15:40:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](450) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ResetToken] [nvarchar](max) NULL,
	[ResetTokenExpiry] [datetime2](7) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260226114918_addingtables', N'8.0.24')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260226180449_addadmindata', N'8.0.24')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260227092305_AddCommissionRateToPlan', N'8.0.24')
GO
SET IDENTITY_INSERT [dbo].[Claims] ON 

INSERT [dbo].[Claims] ([Id], [PolicyAssignmentId], [PolicyMemberId], [ClaimsOfficerId], [ClaimAmount], [FiledDate], [Status], [Remarks], [ProcessedDate], [CreatedAt], [ClaimType], [DeathCertificateNumber], [NomineeContact], [NomineeName], [SettlementAmount]) VALUES (3, 3, 3, 3, CAST(10000000.00 AS Decimal(18, 2)), CAST(N'2026-02-28T21:33:48.4168014' AS DateTime2), N'Settled', N'valid', CAST(N'2026-02-28T21:43:17.1302278' AS DateTime2), CAST(N'2026-02-28T21:33:48.4168712' AS DateTime2), N'Death', N'cdskfjdkfcsdf', N'9876543210', N'n1', CAST(10000000.00 AS Decimal(18, 2)))
INSERT [dbo].[Claims] ([Id], [PolicyAssignmentId], [PolicyMemberId], [ClaimsOfficerId], [ClaimAmount], [FiledDate], [Status], [Remarks], [ProcessedDate], [CreatedAt], [ClaimType], [DeathCertificateNumber], [NomineeContact], [NomineeName], [SettlementAmount]) VALUES (4, 14, 19, 3, CAST(1000000.00 AS Decimal(18, 2)), CAST(N'2026-03-02T19:03:27.3242721' AS DateTime2), N'Settled', N'valid', CAST(N'2026-03-02T19:21:35.4878792' AS DateTime2), CAST(N'2026-03-02T19:03:27.3244093' AS DateTime2), N'Death', N'cdsfjflsn', N'9999999999', N'dsjlvn', CAST(1000000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Claims] OFF
GO
SET IDENTITY_INSERT [dbo].[Documents] ON 

INSERT [dbo].[Documents] ([Id], [FileName], [FilePath], [DocumentCategory], [UploadedAt], [UploadedByUserId], [PolicyAssignmentId], [ClaimId]) VALUES (3, N'IdentityProof_3_4901376b-8685-4694-8dbd-06bd89440844.jpg', N'uploads/policies/3/customer/IdentityProof_3_4901376b-8685-4694-8dbd-06bd89440844.jpg', N'IdentityProof', CAST(N'2026-02-28T10:39:45.1395413' AS DateTime2), 4, 3, NULL)
INSERT [dbo].[Documents] ([Id], [FileName], [FilePath], [DocumentCategory], [UploadedAt], [UploadedByUserId], [PolicyAssignmentId], [ClaimId]) VALUES (4, N'IncomeProof_3_5caa60f1-4973-47bf-afd8-c7362c0e467b.jpg', N'uploads/policies/3/customer/IncomeProof_3_5caa60f1-4973-47bf-afd8-c7362c0e467b.jpg', N'IncomeProof', CAST(N'2026-02-28T10:39:45.1606657' AS DateTime2), 4, 3, NULL)
INSERT [dbo].[Documents] ([Id], [FileName], [FilePath], [DocumentCategory], [UploadedAt], [UploadedByUserId], [PolicyAssignmentId], [ClaimId]) VALUES (5, N'IdentityProof_4_453252f3-e534-4e7a-a5ac-aa4d91c68242.jpg', N'uploads/policies/4/customer/IdentityProof_4_453252f3-e534-4e7a-a5ac-aa4d91c68242.jpg', N'IdentityProof', CAST(N'2026-02-28T10:49:56.8416055' AS DateTime2), 4, 4, NULL)
SET IDENTITY_INSERT [dbo].[Documents] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([Id], [UserId], [Title], [Message], [Type], [IsRead], [CreatedAt], [PolicyAssignmentId], [ClaimId], [PaymentId]) VALUES (1, 6, N'Policy Status Updated', N'Your policy POL202600003 status changed to Rejected', N'PolicyStatusUpdate', 1, CAST(N'2026-02-28T20:39:33.2645280' AS DateTime2), 5, NULL, NULL)
INSERT [dbo].[Notifications] ([Id], [UserId], [Title], [Message], [Type], [IsRead], [CreatedAt], [PolicyAssignmentId], [ClaimId], [PaymentId]) VALUES (2, 6, N'Policy Status Updated', N'Your policy POL202600003 status changed to Active', N'PolicyStatusUpdate', 1, CAST(N'2026-02-28T21:12:45.7784755' AS DateTime2), 5, NULL, NULL)
INSERT [dbo].[Notifications] ([Id], [UserId], [Title], [Message], [Type], [IsRead], [CreatedAt], [PolicyAssignmentId], [ClaimId], [PaymentId]) VALUES (5, 1, N'New Claim Filed', N'A new Death claim has been filed for policy POL202600001', N'ClaimStatusUpdate', 0, CAST(N'2026-02-28T21:33:48.7281871' AS DateTime2), NULL, 3, NULL)
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([Id], [PolicyAssignmentId], [Amount], [PaymentDate], [PaymentMethod], [TransactionReference], [Status], [InvoiceNumber], [CreatedAt], [InstallmentsPaid], [PolicyLoanId], [PrincipalPaid], [InterestPaid], [BalanceAfter]) VALUES (1, 3, CAST(438.08 AS Decimal(18, 2)), CAST(N'2026-02-28T12:26:49.9159948' AS DateTime2), N'card', N'TXN20260228122649D486BB', N'Completed', N'INV2026000001', CAST(N'2026-02-28T12:26:49.9571257' AS DateTime2), 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[Payments] ([Id], [PolicyAssignmentId], [Amount], [PaymentDate], [PaymentMethod], [TransactionReference], [Status], [InvoiceNumber], [CreatedAt], [InstallmentsPaid], [PolicyLoanId], [PrincipalPaid], [InterestPaid], [BalanceAfter]) VALUES (3, 14, CAST(1500.00 AS Decimal(18, 2)), CAST(N'2026-03-02T16:58:44.3749686' AS DateTime2), N'UPI', N'TXN20260302165844BC726D', N'Completed', N'INV2026000002', CAST(N'2026-03-02T16:58:44.3766447' AS DateTime2), 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[Payments] ([Id], [PolicyAssignmentId], [Amount], [PaymentDate], [PaymentMethod], [TransactionReference], [Status], [InvoiceNumber], [CreatedAt], [InstallmentsPaid], [PolicyLoanId], [PrincipalPaid], [InterestPaid], [BalanceAfter]) VALUES (4, 14, CAST(1500.00 AS Decimal(18, 2)), CAST(N'2026-03-02T17:07:33.7393803' AS DateTime2), N'UPI', N'TXN2026030217073324858F', N'Completed', N'INV2026000003', CAST(N'2026-03-02T17:07:33.7420675' AS DateTime2), 1, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Plans] ON 

SET IDENTITY_INSERT [dbo].[Plans] OFF
GO
SET IDENTITY_INSERT [dbo].[PolicyAssignments] ON 

INSERT [dbo].[PolicyAssignments] ([Id], [PolicyNumber], [CustomerId], [AgentId], [PlanId], [StartDate], [EndDate], [Status], [TotalPremiumAmount], [PremiumFrequency], [NextDueDate], [CreatedAt], [AssignedDate], [TermYears], [CommissionStatus]) VALUES (4, N'POL202600002', 4, 5, 6, CAST(N'2022-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2023-01-01T00:00:00.0000000' AS DateTime2), N'Expired', CAST(420.37 AS Decimal(18, 2)), N'Monthly', CAST(N'2023-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2026-02-28T10:49:56.7966357' AS DateTime2), CAST(N'2022-01-02T00:00:00.0000000' AS DateTime2), 1, N'')
SET IDENTITY_INSERT [dbo].[PolicyAssignments] OFF
GO
SET IDENTITY_INSERT [dbo].[PolicyLoans] ON 

INSERT [dbo].[PolicyLoans] ([Id], [PolicyAssignmentId], [CustomerId], [LoanAmount], [InterestRate], [OutstandingBalance], [TotalInterestPaid], [Status], [LoanDate], [ClosedDate], [Remarks], [CreatedAt]) VALUES (3, 5, 6, CAST(1720.47 AS Decimal(18, 2)), CAST(8.00 AS Decimal(5, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(11.55 AS Decimal(18, 2)), N'Closed', CAST(N'2026-03-08T10:47:39.5327900' AS DateTime2), CAST(N'2026-03-08T11:04:50.3896800' AS DateTime2), N'Loan approved against policy surrender value', CAST(N'2026-03-08T10:47:39.5328260' AS DateTime2))
INSERT [dbo].[PolicyLoans] ([Id], [PolicyAssignmentId], [CustomerId], [LoanAmount], [InterestRate], [OutstandingBalance], [TotalInterestPaid], [Status], [LoanDate], [ClosedDate], [Remarks], [CreatedAt]) VALUES (4, 5, 6, CAST(2136.16 AS Decimal(18, 2)), CAST(8.00 AS Decimal(5, 2)), CAST(1950.40 AS Decimal(18, 2)), CAST(14.24 AS Decimal(18, 2)), N'Adjusted', CAST(N'2026-03-08T11:07:44.6168665' AS DateTime2), CAST(N'2026-03-08T11:10:21.6850528' AS DateTime2), N'Adjusted against claim #10 settlement', CAST(N'2026-03-08T11:07:44.6168997' AS DateTime2))
SET IDENTITY_INSERT [dbo].[PolicyLoans] OFF
GO
SET IDENTITY_INSERT [dbo].[PolicyMembers] ON 

INSERT [dbo].[PolicyMembers] ([Id], [PolicyAssignmentId], [MemberName], [RelationshipToCustomer], [DateOfBirth], [Gender], [CoverageAmount], [IsSmoker], [HasPreExistingDiseases], [DiseaseDescription], [Occupation], [IsPrimaryInsured], [CreatedAt]) VALUES (3, 3, N'm1', N'Self', CAST(N'1995-05-15T00:00:00.0000000' AS DateTime2), N'Female', CAST(10000000.00 AS Decimal(18, 2)), 0, 0, N'None', N'Software Engineer', 1, CAST(N'2026-02-28T10:39:44.8182873' AS DateTime2))
INSERT [dbo].[PolicyMembers] ([Id], [PolicyAssignmentId], [MemberName], [RelationshipToCustomer], [DateOfBirth], [Gender], [CoverageAmount], [IsSmoker], [HasPreExistingDiseases], [DiseaseDescription], [Occupation], [IsPrimaryInsured], [CreatedAt]) VALUES (4, 4, N'm1', N'Self', CAST(N'1995-05-15T00:00:00.0000000' AS DateTime2), N'Female', CAST(600000.00 AS Decimal(18, 2)), 0, 0, N'None', N'Engineer', 1, CAST(N'2026-02-28T10:49:56.7966419' AS DateTime2))
INSERT [dbo].[PolicyMembers] ([Id], [PolicyAssignmentId], [MemberName], [RelationshipToCustomer], [DateOfBirth], [Gender], [CoverageAmount], [IsSmoker], [HasPreExistingDiseases], [DiseaseDescription], [Occupation], [IsPrimaryInsured], [CreatedAt]) VALUES (5, 4, N'm2', N'Spouse', CAST(N'1997-03-20T00:00:00.0000000' AS DateTime2), N'Male', CAST(600000.00 AS Decimal(18, 2)), 0, 0, N'None', N'Teacher', 0, CAST(N'2026-02-28T10:49:56.7966421' AS DateTime2))
SET IDENTITY_INSERT [dbo].[PolicyMembers] OFF
GO
SET IDENTITY_INSERT [dbo].[PolicyNominees] ON 

INSERT [dbo].[PolicyNominees] ([Id], [PolicyAssignmentId], [NomineeName], [RelationshipToPolicyHolder], [ContactNumber], [SharePercentage], [CreatedAt]) VALUES (3, 3, N'n1', N'Father', N'9876543210', CAST(100.00 AS Decimal(5, 2)), CAST(N'2026-02-28T10:39:44.8189044' AS DateTime2))
INSERT [dbo].[PolicyNominees] ([Id], [PolicyAssignmentId], [NomineeName], [RelationshipToPolicyHolder], [ContactNumber], [SharePercentage], [CreatedAt]) VALUES (4, 4, N'n1', N'Father', N'9876543210', CAST(100.00 AS Decimal(5, 2)), CAST(N'2026-02-28T10:49:56.7966437' AS DateTime2))
INSERT [dbo].[PolicyNominees] ([Id], [PolicyAssignmentId], [NomineeName], [RelationshipToPolicyHolder], [ContactNumber], [SharePercentage], [CreatedAt]) VALUES (5, 5, N'Pola Rajesh', N'Spouse', N'9876543210', CAST(100.00 AS Decimal(5, 2)), CAST(N'2026-02-28T20:36:27.4289416' AS DateTime2))
SET IDENTITY_INSERT [dbo].[PolicyNominees] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [Email], [PasswordHash], [Phone], [Role], [CreatedAt], [IsActive], [ResetToken], [ResetTokenExpiry]) VALUES (1, N'System Admin', N'admin@insurance.com', N'$2a$11$jAm8IK5QtRCvZy5xtHi7r.AEYa4jd2akWMnxR8VoAEINOKShgtsCS', N'9999999999', N'Admin', CAST(N'2026-03-08T16:43:58.2777781' AS DateTime2), 1, NULL, NULL)
INSERT [dbo].[Users] ([Id], [Name], [Email], [PasswordHash], [Phone], [Role], [CreatedAt], [IsActive], [ResetToken], [ResetTokenExpiry]) VALUES (2, N'a1', N'a1@mail.com', N'$2a$11$NYvF3Pyu7rtB7IP7LPfEO.B43vOVmWEy0c.Tb3U/lFHdTkjRiZF6i', N'789728929', N'Customer', CAST(N'2026-02-27T04:25:41.0766967' AS DateTime2), 1, NULL, NULL)
INSERT [dbo].[Users] ([Id], [Name], [Email], [PasswordHash], [Phone], [Role], [CreatedAt], [IsActive], [ResetToken], [ResetTokenExpiry]) VALUES (3, N'c1', N'c1@mail.com', N'$2a$11$CHrG457UCeO.elE5c/I9l.NRffgqxOu2QBVtttmgYwTbBVWWqwISi', N'9000090000', N'ClaimsOfficer', CAST(N'2026-02-27T04:31:58.8084035' AS DateTime2), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_Claims_ClaimsOfficerId]    Script Date: 09-03-2026 15:40:06 ******/
CREATE NONCLUSTERED INDEX [IX_Claims_ClaimsOfficerId] ON [dbo].[Claims]
(
	[ClaimsOfficerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Claims_PolicyAssignmentId]    Script Date: 09-03-2026 15:40:06 ******/
CREATE NONCLUSTERED INDEX [IX_Claims_PolicyAssignmentId] ON [dbo].[Claims]
(
	[PolicyAssignmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Claims_PolicyMemberId]    Script Date: 09-03-2026 15:40:06 ******/
CREATE NONCLUSTERED INDEX [IX_Claims_PolicyMemberId] ON [dbo].[Claims]
(
	[PolicyMemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Documents_ClaimId]    Script Date: 09-03-2026 15:40:06 ******/
CREATE NONCLUSTERED INDEX [IX_Documents_ClaimId] ON [dbo].[Documents]
(
	[ClaimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Documents_PolicyAssignmentId]    Script Date: 09-03-2026 15:40:06 ******/
CREATE NONCLUSTERED INDEX [IX_Documents_PolicyAssignmentId] ON [dbo].[Documents]
(
	[PolicyAssignmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Documents_UploadedByUserId]    Script Date: 09-03-2026 15:40:06 ******/
CREATE NONCLUSTERED INDEX [IX_Documents_UploadedByUserId] ON [dbo].[Documents]
(
	[UploadedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_UserId]    Script Date: 09-03-2026 15:40:06 ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_UserId] ON [dbo].[Notifications]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_PolicyAssignmentId]    Script Date: 09-03-2026 15:40:06 ******/
CREATE NONCLUSTERED INDEX [IX_Payments_PolicyAssignmentId] ON [dbo].[Payments]
(
	[PolicyAssignmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PolicyAssignments_AgentId]    Script Date: 09-03-2026 15:40:06 ******/
CREATE NONCLUSTERED INDEX [IX_PolicyAssignments_AgentId] ON [dbo].[PolicyAssignments]
(
	[AgentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PolicyAssignments_CustomerId]    Script Date: 09-03-2026 15:40:06 ******/
CREATE NONCLUSTERED INDEX [IX_PolicyAssignments_CustomerId] ON [dbo].[PolicyAssignments]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PolicyAssignments_PlanId]    Script Date: 09-03-2026 15:40:06 ******/
CREATE NONCLUSTERED INDEX [IX_PolicyAssignments_PlanId] ON [dbo].[PolicyAssignments]
(
	[PlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PolicyAssignments_PolicyNumber]    Script Date: 09-03-2026 15:40:06 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_PolicyAssignments_PolicyNumber] ON [dbo].[PolicyAssignments]
(
	[PolicyNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PolicyLoans_CustomerId]    Script Date: 09-03-2026 15:40:06 ******/
CREATE NONCLUSTERED INDEX [IX_PolicyLoans_CustomerId] ON [dbo].[PolicyLoans]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PolicyLoans_PolicyAssignmentId]    Script Date: 09-03-2026 15:40:06 ******/
CREATE NONCLUSTERED INDEX [IX_PolicyLoans_PolicyAssignmentId] ON [dbo].[PolicyLoans]
(
	[PolicyAssignmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PolicyMembers_PolicyAssignmentId]    Script Date: 09-03-2026 15:40:06 ******/
CREATE NONCLUSTERED INDEX [IX_PolicyMembers_PolicyAssignmentId] ON [dbo].[PolicyMembers]
(
	[PolicyAssignmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PolicyNominees_PolicyAssignmentId]    Script Date: 09-03-2026 15:40:06 ******/
CREATE NONCLUSTERED INDEX [IX_PolicyNominees_PolicyAssignmentId] ON [dbo].[PolicyNominees]
(
	[PolicyAssignmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 09-03-2026 15:40:06 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Claims] ADD  DEFAULT (N'') FOR [ClaimType]
GO
ALTER TABLE [dbo].[Claims] ADD  DEFAULT (N'') FOR [NomineeContact]
GO
ALTER TABLE [dbo].[Claims] ADD  DEFAULT (N'') FOR [NomineeName]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ((0)) FOR [InstallmentsPaid]
GO
ALTER TABLE [dbo].[Plans] ADD  DEFAULT ((0.0)) FOR [CommissionRate]
GO
ALTER TABLE [dbo].[Plans] ADD  DEFAULT ((0)) FOR [MaxNominees]
GO
ALTER TABLE [dbo].[Plans] ADD  DEFAULT ((0)) FOR [MinNominees]
GO
ALTER TABLE [dbo].[Plans] ADD  DEFAULT ((0.0)) FOR [CoverageIncreaseRate]
GO
ALTER TABLE [dbo].[Plans] ADD  DEFAULT (CONVERT([bit],(0))) FOR [CoverageIncreasing]
GO
ALTER TABLE [dbo].[Plans] ADD  DEFAULT ((0)) FOR [CoverageUntilAge]
GO
ALTER TABLE [dbo].[Plans] ADD  DEFAULT (CONVERT([bit],(0))) FOR [HasBonus]
GO
ALTER TABLE [dbo].[Plans] ADD  DEFAULT (CONVERT([bit],(0))) FOR [HasDeathBenefit]
GO
ALTER TABLE [dbo].[Plans] ADD  DEFAULT (CONVERT([bit],(0))) FOR [HasLoanFacility]
GO
ALTER TABLE [dbo].[Plans] ADD  DEFAULT ((0)) FOR [LoanEligibleAfterYears]
GO
ALTER TABLE [dbo].[Plans] ADD  DEFAULT ((0.0)) FOR [LoanInterestRate]
GO
ALTER TABLE [dbo].[Plans] ADD  DEFAULT ((0.0)) FOR [MaxLoanPercentage]
GO
ALTER TABLE [dbo].[Plans] ADD  DEFAULT ((0.0)) FOR [BonusRate]
GO
ALTER TABLE [dbo].[Plans] ADD  DEFAULT ((0.0)) FOR [TerminalBonusRate]
GO
ALTER TABLE [dbo].[PolicyAssignments] ADD  DEFAULT ((0)) FOR [TermYears]
GO
ALTER TABLE [dbo].[PolicyAssignments] ADD  DEFAULT (N'') FOR [CommissionStatus]
GO
ALTER TABLE [dbo].[Claims]  WITH CHECK ADD  CONSTRAINT [FK_Claims_PolicyAssignments_PolicyAssignmentId] FOREIGN KEY([PolicyAssignmentId])
REFERENCES [dbo].[PolicyAssignments] ([Id])
GO
ALTER TABLE [dbo].[Claims] CHECK CONSTRAINT [FK_Claims_PolicyAssignments_PolicyAssignmentId]
GO
ALTER TABLE [dbo].[Claims]  WITH CHECK ADD  CONSTRAINT [FK_Claims_PolicyMembers_PolicyMemberId] FOREIGN KEY([PolicyMemberId])
REFERENCES [dbo].[PolicyMembers] ([Id])
GO
ALTER TABLE [dbo].[Claims] CHECK CONSTRAINT [FK_Claims_PolicyMembers_PolicyMemberId]
GO
ALTER TABLE [dbo].[Claims]  WITH CHECK ADD  CONSTRAINT [FK_Claims_Users_ClaimsOfficerId] FOREIGN KEY([ClaimsOfficerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Claims] CHECK CONSTRAINT [FK_Claims_Users_ClaimsOfficerId]
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD  CONSTRAINT [FK_Documents_Claims_ClaimId] FOREIGN KEY([ClaimId])
REFERENCES [dbo].[Claims] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Documents] CHECK CONSTRAINT [FK_Documents_Claims_ClaimId]
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD  CONSTRAINT [FK_Documents_PolicyAssignments_PolicyAssignmentId] FOREIGN KEY([PolicyAssignmentId])
REFERENCES [dbo].[PolicyAssignments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Documents] CHECK CONSTRAINT [FK_Documents_PolicyAssignments_PolicyAssignmentId]
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD  CONSTRAINT [FK_Documents_Users_UploadedByUserId] FOREIGN KEY([UploadedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Documents] CHECK CONSTRAINT [FK_Documents_Users_UploadedByUserId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users_UserId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_PolicyAssignments_PolicyAssignmentId] FOREIGN KEY([PolicyAssignmentId])
REFERENCES [dbo].[PolicyAssignments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_PolicyAssignments_PolicyAssignmentId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_PolicyLoans_PolicyLoanId] FOREIGN KEY([PolicyLoanId])
REFERENCES [dbo].[PolicyLoans] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_PolicyLoans_PolicyLoanId]
GO
ALTER TABLE [dbo].[PolicyAssignments]  WITH CHECK ADD  CONSTRAINT [FK_PolicyAssignments_Plans_PlanId] FOREIGN KEY([PlanId])
REFERENCES [dbo].[Plans] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PolicyAssignments] CHECK CONSTRAINT [FK_PolicyAssignments_Plans_PlanId]
GO
ALTER TABLE [dbo].[PolicyAssignments]  WITH CHECK ADD  CONSTRAINT [FK_PolicyAssignments_Users_AgentId] FOREIGN KEY([AgentId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PolicyAssignments] CHECK CONSTRAINT [FK_PolicyAssignments_Users_AgentId]
GO
ALTER TABLE [dbo].[PolicyAssignments]  WITH CHECK ADD  CONSTRAINT [FK_PolicyAssignments_Users_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PolicyAssignments] CHECK CONSTRAINT [FK_PolicyAssignments_Users_CustomerId]
GO
ALTER TABLE [dbo].[PolicyLoans]  WITH CHECK ADD  CONSTRAINT [FK_PolicyLoans_PolicyAssignments_PolicyAssignmentId] FOREIGN KEY([PolicyAssignmentId])
REFERENCES [dbo].[PolicyAssignments] ([Id])
GO
ALTER TABLE [dbo].[PolicyLoans] CHECK CONSTRAINT [FK_PolicyLoans_PolicyAssignments_PolicyAssignmentId]
GO
ALTER TABLE [dbo].[PolicyLoans]  WITH CHECK ADD  CONSTRAINT [FK_PolicyLoans_Users_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PolicyLoans] CHECK CONSTRAINT [FK_PolicyLoans_Users_CustomerId]
GO
ALTER TABLE [dbo].[PolicyMembers]  WITH CHECK ADD  CONSTRAINT [FK_PolicyMembers_PolicyAssignments_PolicyAssignmentId] FOREIGN KEY([PolicyAssignmentId])
REFERENCES [dbo].[PolicyAssignments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PolicyMembers] CHECK CONSTRAINT [FK_PolicyMembers_PolicyAssignments_PolicyAssignmentId]
GO
ALTER TABLE [dbo].[PolicyNominees]  WITH CHECK ADD  CONSTRAINT [FK_PolicyNominees_PolicyAssignments_PolicyAssignmentId] FOREIGN KEY([PolicyAssignmentId])
REFERENCES [dbo].[PolicyAssignments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PolicyNominees] CHECK CONSTRAINT [FK_PolicyNominees_PolicyAssignments_PolicyAssignmentId]
GO
USE [master]
GO
